@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Arial, Helvetica, sans-serif;

    --font2:'Passion One', cursive;

    --font3:'Sriracha', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header> h1{
    padding: 50px;
    font-variant:small-caps ;
    font-family: var(--font2);
    font-size:10vw; /* Largura da tela "10vw"*/

}
header > p{
    padding-bottom: 50px;
}

 header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section{
    padding-top:10vh ;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2.3vw;
}

section >p{
    padding-bottom: 3em;
}
section.normal{
    background-color: white;
    color: black;
   
}

section.imagem{
    background-color: rgba(243, 15, 15, 0.133);
    color: white;
}

section.imagem > p{
    display: inline-block; /* gera uma caixa de elemento de bloco*/
    background-color: rgba(0, 0, 0, 0.447); /*dar a cor a caixa*/
    text-shadow: 1px 1px 0px; /*text-shadowacrescenta sombras ao texto*/
    padding: 5px;
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size:cover;
    box-shadow:inset 6px 6px 13px  0px rgba(0, 0, 0, 0.469); /*Sombra de caixa "inset" --->interno*/
    background-attachment: fixed;
}

section#img02{
    background-image:url(imagens/background002.jpg);
    background-position: left center;
    background-size:cover;
    box-shadow:inset 6px 6px 13px  0px rgba(0, 0, 0, 0.469);
    background-attachment: fixed; /* "background-attachment" determina se aquela posição da imagem é fixa com o viewport, ou se irá rolar juntamente com o seu bloco*/
}
a:hover{
    text-decoration:underline;  
}

 a{
    color: white;
}

 a:hover{
    color:gray
}

footer{
    background-color: black;
    text-align: center;
    padding:10px ;
}
