/*Para todas as midias*/
@media print {
    body{
        font-family: 'Courier New', Courier, monospace
    };
    main{
        border: solid 2px black;
    }

    main,h1{
        text-shadow: none;
        color: black;
    }
    img{ display: block; margin: auto;}
    img#phone{display:block;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#desktop{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width:375px) and (max-width:667px){ /*CELULAR*/
    body{
        background-image: url(../img/back-phone.jpg);
    }
    img{ display: block; margin: auto;}
    img#phone{display:block;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#desktop{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width:900px) and (max-width:1440px){/*TABLET*/
    body{
        background-image: url(../img/back-tablet.jpg);
    }
    img{ display: none; margin: auto;}
    img#phone{display:none;}
    img#tablet{display:block;}
    img#print{display: none;}
    img#desktop{display:none;}
    img#tv{display: none;}
}
@media screen and (min-width:1680px) and (max-width:1050px) {/*DESKTOP*/
    body{
        background-image: url(../img/icon-pc.png);
    }
    img{ display: none; margin: auto;}
    img#phone{display:none;}
    img#tablet{display:none;}
    img#print{display: none;}
    img#desktop{display: block;}
    img#tv{display: none;}
}
@media screen and (max-width:1200){
    body{
        background-image: url(../img/back-tv.jpg);
    }

}